<div class="project project-list-item">
    <div class="project-details">
        <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporário">
    </div>
    <div class="project-title-container">
        <h2 class=" hprojeto recipe-title">PROJETOS.</h2>
    </div>
    <div class="project-content">
        <p>{{project.description}}</p>
    </div>
    <div class="project-meta-container">
        <div class="project-meta project-bliblio">
        </div>
    </div>
    {% if is_detail_page is not True %}
        <footer class="project-footer">
            <a class="project-read-more button button-dark button-full-width" href="/projects/">
                <i class="fas fa-eye"></i>
                <span>ver mais...</span>
            </a>
        </footer>
    {% endif %}

    {% if is_detail_page is True %}
    <div class="preparation-steps">
        {{project.preparation_steps|linebreaksbr}}
    </div>
    {% endif %}
</div> 